<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1
        class="mx-auto my-0 text-uppercase"
        @fadeTrigger
        *ngIf="this.questionHead != ''"
        (@fadeTrigger.start)="this.onFadeEvent($event)"
        (@fadeTrigger.done)="this.onFadeEvent($event)"
      >
        {{ this.questionHead }}
        <!-- split after max 12 chars or 1 word-->
      </h1>
      <h2
        class="text-white-50 mx-auto mt-2 mb-5"
        @fadeTrigger
        *ngIf="this.questionHead != ''"
      >
        {{ this.questionBody }}
      </h2>
      <button
        @fadeTrigger
        *ngIf="this.questionHead != ''"
        class="btn btn-primary js-scroll-trigger"
        (click)="this.onClick()"
      >
        Next question
      </button>
    </div>
  </div>
</header>

<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
  <div class="container">Copyright © Tony Satura 2020</div>
</footer>
